@model Project_MVC.Models.Flower
@using Project_MVC.Models
@using Project_MVC.Utils

@{
    ViewBag.Title = "DetailCustomers";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
    var flowers = ViewBag.Flowers as List<Flower>;
    var upsellFlowers = flowers.Where(s => s.CategoryCode == Model.CategoryCode).OrderByDescending(s => s.Rating);
    var relatedFlowers = flowers.Where(s => s.CategoryCode == Model.CategoryCode);
    var flowerImages = Model.FlowerImages;
    if (flowerImages == null || flowerImages.Count == 0)
    {
        flowerImages = new List<FlowerImage>();
    }
    var flowerImagesSkipTake = new List<FlowerImage>();
    var flowerImageTake = new List<FlowerImage>();
    if (flowerImages.ToList().Count >= 4)
    {
        flowerImagesSkipTake = flowerImages.Skip(1).Take(3).ToList();
        flowerImageTake = flowerImages.Take(3).ToList();
    }
    else
    {
        flowerImagesSkipTake = flowerImages.Skip(1).ToList();
        flowerImageTake = flowerImages.ToList();
    }
}

<!-- breadcrumbs area -->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-single breadcrumb_top">
                    <ul id="breadcrumbs">
                        <li><a href=""><i class="fa fa-home"></i>Home</a></li>
                        <li><span>I</span></li>
                        <li>SHOP</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcrumbs area -->
<!-- Start preview Product details area -->
<div class="blog_single_view_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="my_tabs">
                    <div class="tab-content tab_content_style">
                        <div id="tab0" class="tab-pane fade in active">
                            <div class="blog_tabs">
                                <a class="fancybox" href="@flowerImages.FirstOrDefault().ImageUrl" data-fancybox-group="gallery" title="Ảnh hoa"><img src="@flowerImages.FirstOrDefault().ImageUrl" alt="" /></a>
                            </div>
                        </div>
                        @for (var i = 1; i <= flowerImagesSkipTake.Count; i++)
                        {
                            <div id="@string.Format("tab{0}", @i)" class="tab-pane fade">
                                <div class="blog_tabs">
                                    <a class="fancybox" href="@flowerImages.ToList()[i].ImageUrl" data-fancybox-group="gallery" title="Ảnh hoa"><img src="@flowerImages.ToList()[i].ImageUrl" alt="" /></a>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="blog_view_list">
                        <ul class="tab_style tab_bottom">
                            @for (var i = 0; i < flowerImageTake.ToList().Count; i++)
                            {
                                <li>
                                    <div class="blog_single_carousel">
                                        <a data-toggle="tab" href="@string.Format("#tab{0}", i )"><img src="@flowerImages.ToList()[i].ImageUrl" alt="" /></a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="blog_product_details">
                    <h2 class="blog_heading"><a href="">@Model.Name</a></h2>
                    <div class="product_rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product_rating">
                        <a href="#">1 Review(s) <span>I</span></a>
                        <a href="#"> Add Your Review</a>
                    </div>
                    <div class="pricing_rate">
                        <p class="stack">Availability:<span class="in-stock"> In stock</span></p>
                        <p class="rating_dollor rating_margin"><span class="rating_value_one dollor_size">@Model.Price</span> <span class="rating_value_two">@Utility.NewPrice(Model.Price, Model.Discount)</span></p>
                        <p class="blog_texts">@Model.Description</p>
                    </div>
                    <div class="product_blog_button">
                        <div class="cart_blog_details blog_icon_border">
                            <a href="" target="blank"><i class="fa fa-heart-o"></i></a>
                        </div>
                        <div class="cart_blog_details blog_icon_border">
                            <a href="" target="expand"><i class="fa fa-retweet"></i></a>
                        </div>
                        <div class="cart_blog_details blog_icon_border">
                            <a href="" target="heart"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_options_area">
                    <div class="add-to-cart">
                        <input type="text" id="quantityFlower" title="Qty" value="1" class="qty" />
                        @Html.HiddenFor(model => Model.Code)
                        <a class="btn btn-primary" id="addCart"><span>Add to Cart</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End preview Product details area -->
<!-- Start Product details tabs area -->
<div class="product_collateral_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="my_tabs_description">
                    <ul class="tab_style">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-1">Product Description</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-2">Reviews</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-3">Product Tags</a>
                        </li>
                    </ul>
                    <div class="tab-content tab_content_style">
                        <div id="tab-1" class="tab-pane fade in active">
                            <div class="product_description">
                                <p>@Model.Description</p>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade">
                            <div class="product_description">
                                <ul id="Motorola">
                                    <li><a href="#">Motorola</a> Review by <span class="Motorola_cl">Motorola</span></li>
                                    <li>
                                        <span>Quality</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <span>Price</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <span>Value</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>Motorola (Posted on 11/2/2015)</li>
                                </ul>
                                <div class="fieldsets">
                                    <h3>You're reviewing: <span>@Model.Description</span></h3>
                                    <h4>How do you rate this product?*</h4>
                                    <div class="start_tab_pricing_area">
                                        <fieldset>
                                            <table class="star_pricing_tb">
                                                <tr>
                                                    <th></th>
                                                    <th>1 Star</th>
                                                    <th>2 Stars</th>
                                                    <th>3 Stars</th>
                                                    <th>4 Stars</th>
                                                    <th>5 Stars</th>
                                                </tr>
                                                <tr>
                                                    <td>Quality</td>
                                                    <td><input type="radio" name="ratings[1]" value="1" class="radio"></td>
                                                    <td><input type="radio" name="ratings[1]" value="2" class="radio"></td>
                                                    <td><input type="radio" name="ratings[1]" value="3" class="radio"></td>
                                                    <td><input type="radio" name="ratings[1]" value="4" class="radio"></td>
                                                    <td><input type="radio" name="ratings[1]" value="5" class="radio"></td>
                                                </tr>
                                                <tr>
                                                    <td>Price</td>
                                                    <td><input type="radio" name="ratings[2]" value="6" class="radio"></td>
                                                    <td><input type="radio" name="ratings[2]" value="7" class="radio"></td>
                                                    <td><input type="radio" name="ratings[2]" value="8" class="radio"></td>
                                                    <td><input type="radio" name="ratings[2]" value="9" class="radio"></td>
                                                    <td><input type="radio" name="ratings[2]" value="10" class="radio"></td>
                                                </tr>
                                                <tr>
                                                    <td>Value</td>
                                                    <td><input type="radio" name="ratings[3]" value="11" class="radio"></td>
                                                    <td><input type="radio" name="ratings[3]" value="12" class="radio"></td>
                                                    <td><input type="radio" name="ratings[3]" value="13" class="radio"></td>
                                                    <td><input type="radio" name="ratings[3]" value="14" class="radio"></td>
                                                    <td><input type="radio" name="ratings[3]" value="15" class="radio"></td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </div>

                                    <div class="rating_contact">
                                        <ul id="review_contact">
                                            <li>Nickname<span>*</span></li>
                                            <li><input type="text" name="nickname" class="input-text required-entry" value=""></li>
                                            <li>Summary of Your Review<span>*</span></li>
                                            <li><input type="text" name="nickname" class="input-text required-entry" value=""></li>
                                            <li>Review<span>*</span></li>
                                            <li><textarea name="detail" cols="5" rows="3" class="required-entry"></textarea></li>
                                        </ul>
                                    </div>
                                    <div class="review_button">
                                        <button type="submit" title="Submit Review" class="button">Submit Review</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade">
                            <div class="product_description">
                                <div class="product_tag_area">
                                    <h2>Other people marked this product with these tags:</h2>
                                    <ul id="product_tags">
                                        <li><a href="#">fashion</a> <span>(1)</span></li>
                                        <li><a href="#">Nunc</a> <span>(1)</span></li>
                                        <li><a href="#">facilisis</a> <span>(1)</span></li>
                                    </ul>
                                    <div class="add_tags">
                                        <h2>Add Your Tags:</h2>
                                        <input type="text" name="nickname" class="input-text required-entry" value="">
                                    </div>
                                    <div class="review_button product_tag_add">
                                        <button type="submit" title="Submit Review" class="button">Add Tags</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product details tabs area -->
<!-- Start upsell products area -->
@Html.Partial("_UpsellFlowers", upsellFlowers)
<!-- End upsell products area -->
<!-- Start Related products area -->
@Html.Partial("_RelatedFlowers", relatedFlowers)
<!-- End Related products area -->

@section scripts{
    <script>
        $(document).ready(function(){
    $("#addCart").click(function(event){
       event.preventDefault();
       window.location.href = "@Url.Action("AddCart", "ShoppingCart")" + "?code=" + $("#Code").val() + "&quantity=" + $("#quantityFlower").val();
    });
})
    </script>
}